# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzw
*.pyzwz
*.pyzwzw
*.pyzwzwz
*.pyzwzwzw

# .venv
.venv/
# Django
db.sqlite3
# Media
media/
# Static
static/
# Logs
logs/
# Error
error.log
# Debug
debug.log

# ignore what is inside migrations
**/migrations/*initial.py


