
{% extends 'chat/base.html' %}
{% load static %}


{% block css %}
    <link rel="stylesheet" href="{% static 'chat/css/chat.css' %}">
{% endblock %}


{% block body_content %}

    <!-- Chat Area -->
    <div id="chat-container">
        <div id="chat-header">Room: {{ room_name }}</div>

        <div id="messages-container"></div>

        <div id="input-area">
            <input id="chat-message-input" type="text" placeholder="Type your message...">
            <button id="chat-message-submit">Send</button>
        </div>
    </div>

    {{ room_name|json_script:"room-name" }}

{% endblock %}


{% block js %}
    <script>
        const roomName = "{{ room_name }}";
        const username = "{{ username }}";
        const messagesContainer = document.getElementById('messages-container');
        const recipientname = ""; // No specific recipient in room chat
        // Load message history
        const messageHistory = JSON.parse('{{ messages_json|safe }}');
    </script>
    <script src="{% static 'chat/js/room_chat.js' %}"></script>
{% endblock %}